<div class="col-3 profile-col">
  <!-- Left column -->
  <div class="profile-header">
    <!-- Header information -->
    <h3 class="profile-fullname"><a>
      Luan Dias
    <a></h3>
    <h2 class="profile-element"><a>@lucandidoan</a></h2>
    <a class="profile-element profile-website" hrerf=""><i class="octicon octicon-link"></i>&nbsp;ludias.co</a>
    <a class="profile-element profile-website" hrerf=""><i class="octicon octicon-location"></i>&nbsp;Belo Horizonte, Brazil</a>
    <div class="pic-grid">
      <!-- Image grid -->
      <div class="row">
        <div class="col pic-col"><img src="https://images.unsplash.com/photo-1550063873-ab792950096b?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80" height="73px" class=""></div>
        <div class="col pic-col"><img src="https://s3.amazonaws.com/lu-portfolio/timeline/a.jpg" height="73px" class=""></div>
        <div class="col pic-col"><img src="https://images.unsplash.com/photo-1551374144-89318b365a79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80" height="73px" class=""></div>
      </div>
      <!-- End: row -->
      <div class="row">
        <div class="col pic-col"><img src="https://images.unsplash.com/photo-1547253113-7ed8c1f3b9ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" height="73px" class=""></div>
        <div class="col pic-col"><img src="https://s3.amazonaws.com/lu-portfolio/timeline/61.jpg" height="73px" class=""></div>
        <div class="col pic-col"><img src="https://images.unsplash.com/photo-1551279108-96deccd3449c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1834&q=80" height="73px" class=""></div>
      </div>
      <!-- End: row -->
    </div>
    <!-- End: image grid -->
  </div>
</div>
